form ng-submit="video.add()"
  .input-group
    input.form-control type="text" placeholder="Contoh: https://www.youtube.com/watch?v=J_CFBjAyPWE" ng-model="newVideo.url" autofocus=""
    span.input-group-btn
      input.btn.btn-success type="submit" value="Tambah Video"
